<div
  class="w-[30rem] h-auto bg-white rounded-2xl shadow-xl border-2 border-black flex flex-col overflow-hidden"
>
  <div class="h-[360px] p-2 w-full ">
    <!-- Content for Section 1 -->
    <div class="relative w-full h-full">
      <img
        class="rounded-md w-full h-[320px] bg-cover bg-no-repeat bg-center object-cover cursor-pointer hover:scale-95 hover:opacity-60 transition-all duration-300"
        src="https://images.unsplash.com/photo-1503424886307-b090341d25d1?q=80&w=3276&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
      <div class="w-full flex justify-between py-2">
        <div class="flex flex-row items-center gap-x-3">
          <img class="w-4 h-5" src="assets/images/heart.png" />10
        </div>
        <div class="flex flex-row items-center gap-x-3">
          <span>Singto</span>
        </div>
      </div>
    </div>
  </div>
  <div class="h-[100px] p-2 w-full">
    <!-- Content for Section 2 -->
    <div class="relative w-full h-full flex items-center justify-center">
      <img src="assets/images/versus.png" />
    </div>
  </div>
  <div class="h-[370px] p-2 w-full">
    <!-- Content for Section 3 -->
    <div class="relative w-full h-full pb-2">
      <div class="w-full flex justify-between">
        <div class="flex flex-row items-center gap-x-3 pb-1">
          <img class="w-4 h-5" src="assets/images/heart.png" />5
        </div>
        <div class="flex flex-row items-center gap-x-3">
          <span>Opponent</span>
        </div>
      </div>
      <img
        class="rounded-md w-full h-[320px] bg-cover bg-no-repeat bg-center object-cover cursor-pointer hover:scale-95 hover:opacity-60 transition-all duration-300"
        src="https://images.unsplash.com/photo-1549558549-415fe4c37b60?q=80&w=3438&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      />
    </div>
  </div>
</div>
