<!-- component -->
<div class="flex flex-col bg-gray-100 m-auto p-auto my-6">
  <div class="flex overflow-x-scroll p-2 hide-scroll-bar">
    <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10">
      <div class="inline-block items-center px-3">
        <div
          class=" bg-cover bg-[url('https://images.unsplash.com/photo-1503614472-8c93d56e92ce?q=80&w=3422&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] w-[431px] h-[320px] overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"
        ></div>
      </div>
      <div class="inline-block px-3">
        <div
          class=" bg-cover bg-[url('https://images.unsplash.com/photo-1503424886307-b090341d25d1?q=80&w=3276&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] w-[431px] h-[320px] overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"
        ></div>
      </div>
      <div class="inline-block px-3">
        <div
          class=" bg-cover bg-[url('https://images.unsplash.com/photo-1549558549-415fe4c37b60?q=80&w=3438&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] w-[431px] h-[320px] overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"
        ></div>
      </div>
      <div class="inline-block px-3">
        <div
          class=" bg-cover bg-[url('https://images.unsplash.com/photo-1426604966848-d7adac402bff?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] w-[431px] h-[320px] overflow-hidden rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out"
        ></div>
      </div>
      
    </div>
  </div>
</div>
<style>
  .hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
</style>
