<div class="flex flex-col items-center pb-10 my-8">
    <div class="my-10 text-2xl">ทีมผู้พัฒนา</div>
    <div class="max-w-[80rem] h-[15rem] w-full grid grid-cols-2 gap-x-4">
        <div class="relative bg-white shadow-xl rounded-xl p-2 relative  px-10">
            <div class="flex flex-row ">
                <div class="bg-cover -translate-y-8 bg-no-repeat bg-center object-cover bg-[url('https://plus.unsplash.com/premium_photo-1677101221533-52b45823a2dc?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] w-[6rem] h-[6rem] rounded-full bg-white border-2 border-black"></div>
                <div class="flex flex-col text-sm px-4">
                    <span class="text-2xl font-bold">Singharat Bunphim</span>
                    <span class="text-orange-500">Full Stack Web Developer</span>
                </div>
            </div>
            <div class="flex flex-col">
                <span>ติดต่องานได้ที่</span>
                <span>Email singharat.b{{'@'}}sodality.co.th</span>
                <span>Tel 0825616378</span>
            </div>
        </div>
        <div class="relative bg-white shadow-xl rounded-xl p-2 relative  px-10">
            <div class="flex flex-row ">
                <div class="bg-cover -translate-y-8 bg-no-repeat bg-center object-cover bg-[url('https://plus.unsplash.com/premium_photo-1677101221533-52b45823a2dc?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')] w-[6rem] h-[6rem] rounded-full bg-white border-2 border-black"></div>
                <div class="flex flex-col text-sm px-4">
                    <span class="text-2xl font-bold">Singharat Bunphim</span>
                    <span class="text-orange-500">Full Stack Web Developer</span>
                </div>
            </div>
            <div class="flex flex-col">
                <span>ติดต่องานได้ที่</span>
                <span>Email singharat.b{{'@'}}sodality.co.th</span>
                <span>Tel 0825616378</span>
            </div>
        </div>
    </div>
</div>